@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.annotanium {
  cursor: crosshair;
  display: inline-block;
}

.annotanium--readOnly {
  cursor: default;
}

.annotanium-popover {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
              0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  display: none;
  color: #444;
  cursor: default;
  font-size: 13px;
  left: 0;
  margin-top: 2px;
  max-width: 300px;
  min-width: 100px;
  padding: 8px;
  position: absolute;
  top: 0;
}

.annotanium-popover--show {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
}

.annotanium-popover::before {
  border-bottom-color: rgba(0, 0, 0, 0.28);
  border-bottom: 5px solid #CCC;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: '';
  display: inline-block;
  left: 8px;
  position: absolute;
  top: -5px;
}

.annotanium-popover::after {
  border-bottom: 4px solid white;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: '';
  display: inline-block;
  left: 8px;
  position: absolute;
  top: -4px;
}

.annotanium-addAnnotationForm {
  margin: 0;
}

.annotanium-addAnnotationForm-label {
  color: #777;
  display: inline-block;
  margin-bottom: 2px;
}

.annotanium-addAnnotationForm-textarea {
  border: none;
  box-sizing: border-box;
  display: block;
  height: 2rem;
  padding: 0;
  width: 200px;
}

.annotanium-addAnnotationForm-textarea:focus {
  outline: none;
}

.annotanium-annotationText {
  cursor: text;
  margin: 0;
}

.annotanium-btn {
  background: white;
  border: none;
  color: #777;
  cursor: pointer;
  margin-right: 8px;
  margin-top: 8px;
  padding: 2px 0px;
  transition: color 0.2s;
}

.annotanium-btn:hover {
  color: #444;
}
